*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    position: absolute;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    height: 300px;
    width: 240px;
    border: 1px solid #f4da45;
    border-radius: 20px;
}
#card1{
    rotate: 0deg;
    z-index: 4;
    background-color: aqua;
}
#card2{
    z-index:3;
    background-color: blueviolet;
    rotate: -6deg;
}
#card3{
    z-index: 2;
    background-color: #f4da45;
    rotate: 12deg;
}

#card4{
    z-index: 1;
    background-color: chartreuse;
    rotate: 16deg;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
#card2:hover{
    z-index: 5;
}
#card3:hover{
    z-index:6;
}
#card4:hover{
    z-index: 10;
}